* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

header {
  display: flex;
  justify-content: center;

  align-items: center;
  -webkit-box-shadow: -1px 10px 4px -10px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: -1px 10px 4px -10px rgba(0, 0, 0, 0.82);
  box-shadow: -1px 10px 4px -10px rgba(0, 0, 0, 0.82);
  padding: 2rem;
  background-color: #eff6ff;
  color: #18181b;
  letter-spacing: 10px;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

.add-button {
  padding: 1rem 2rem;
  background-color: #2563eb;
  border: none;
  border-radius: 25px;
  font-size: 1.5rem;
  color: #eff6ff;
  cursor: pointer;
}

.add-button {
  margin: auto;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  padding: 1rem;
}

.card__grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  );
  grid-auto-rows: 1fr;
  padding: 1rem;
  margin-top: 1rem;
  gap: 2rem;
}

.card {
  border-radius: 10px;
  background-color: #eff6ff;
  padding: 1.5rem;
  box-shadow: 0 8px 7px -7px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: 0 8px 7px -7px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 0 8px 7px -7px rgba(0, 0, 0, 0.82);
  color: #18181b;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.card__btns {
  width: 90%;
  padding: 0.6rem;
  font-size: 1.5rem;
  color: #18181b;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card__btns--read {
  background-color: #f87171;
}

.is-read {
  background-color: #86efac;
}

.not-read {
}

.card__btns--delete {
  background-color: #94a3b8;
}

.card__btns:hover {
  text-decoration: underline;
}

.add__modal {
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  max-width: 50%;
  width: 300px;
}

.add__modal--disabled {
  display: none;
}

.add__modal__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  text-align: center;
}

.form__input {
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid #6b7280;
}

.form__input:focus,
.form__input:hover {
  outline: 2px solid #18181b;
  border: none;
}

.form__submit {
  width: 100%;
  padding: 0.6rem;
  font-size: 1.5rem;
  color: #18181b;
  background-color: #86efac;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form__submit:hover {
  text-decoration: underline;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  z-index: 9;
}

.form__checkbox {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}
